<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width">
    </head>
    <body> 
        <p>
            Dear Admin, <br><br>
            There has been attempt to contact you! <br><br>
            Name: {{.FullName}}, <br>
            Email: {{.Email}} <br> 
            Message: {{.Message}} <br><br>
            Kind Regards, <br>
            Your friends at FGNC
        </p>
    </body>
</html>